/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
button {
  width: 100px;
  height: 30px;
  background-color: orange;
}
.player_name {
  width: 200px;
}
.container {
  margin-left: 60px;
  margin-top: 60px;
}

.pos {
  float: left;
  display: inline-block;
  margin: 0.5%;
}

table {
  border: solid;
  width: 550px;
  font-family: 'Verdana';
  font-size: 9.5px;
}


.normal {
  background-color: #E6E6FA;
}

.high_elevated{
  background-color: #FF7F7F;
}

.elevated {
  background-color: #99FF66;
}

td {
  font: 'Arial';
}

a {
  text-decoration: none;
}

a:hover {
  color: green;
}
